<head>
</head>

<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>List of snazzy wazzy cleaning robots</h2>
      <% @robots.each do |robot| %>
        <div class="card">
          <ul>
            <li>
              <p>
                Name: <%=robot.name  %>
                Name: <%=robot.name  %>
              </p>
            </li>
            <li>
              <p>
                Function: <%=robot.function %>
              </p>
            </li>
            <p>
              <li>
              Rating: <%=robot.rating %>
              </p>
            </li>
          </ul>
        </div>
      <%end %>
    </div>
  </div>
  <%= link_to 'Back', :root %> |
</div>

</body>

