<div class="holder">
  <div class="robo-background">
  </div>
  <div class="card-holder">
    <div class="d-flex justify-content-between">
      <i class="fas fa-sliders-h slider"> Filter & Sort</i>
      <h4><em>Choose from hundreds of AI service Androids</em></h4>
    </div>
    <div class="cards">
      <% @robots.each do |robot| %>
        <div class="card">
          <div>
            <% if robot.photo.attached? %>
              <%= image_tag(cl_image_path(robot.photo.key), alt: "robot photo") %>
            <% else %>
              <%= image_tag "bot", alt: "robot pic" %>
            <% end %>
          </div>
          <div class="card-info">
            <h3><%=robot.name%></h3>
            <p>Rating: <%=robot.rating %></p>
          </div>
          <div class="card-details">
            <p>Function: <%=robot.function %></p>
          </div>
          <div class="pay-btn">
            <%= link_to "BOOK", robot_path(robot), class: "btn btn-ghost"%>
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to 'Back', :root %>
  </div>
</div>

