<div class="holder">
  <div class="robo-background">
  </div>
  <div class="card-holder">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <h2>List of snazzy wazzy cleaning robots</h2>
          <% @robots.each do |robot| %>
          <div class="card">
            <div>
              <%= image_tag "bot", alt: "robot pic" %>
            </div>
            <div class="card-info">
              <h3><%=robot.name%></h3>
              <p>Rating: <%=robot.rating %></p>
            </div>
            <div class="card-details">
            <p>Function: <%=robot.function %></p>
            </div>
            <div class="pay-btn">
            <%= link_to(robot_path(robot.id)) do %>
              <p class="btn btn-ghost">BOOK</p>
            <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <%= link_to 'Back', :root %>
    </div>
  </div>
</div>

