<div class="holder-index">
  <div class="robo-background-index">
  </div>
  <div class="card-holder">
    <div class="d-flex justify-content-between">
      <i class="fas fa-sliders-h slider"> Filter & Sort</i>
      <h4><em>Choose from hundreds of AI service Androids</em></h4>
    </div>
    <div class="cards-index">
      <% @robots.each do |robot| %>
        <div class="card-index">
          <div>
            <% if robot.photo.attached? %>
              <%= image_tag(cl_image_path(robot.photo.key), alt: "robot photo") %>
            <% else %>
              <%= image_tag "https://scx2.b-cdn.net/gfx/news/hires/2019/3-robot.jpg", alt: "robot pic" %>
            <% end %>
          </div>
          <div class="card-info">
            <h3><%=robot.name%></h3>
            <p>Rating: <%=robot.rating %></p>
          </div>
          <div class="card-details">
            <p>Function: <%=robot.function %></p>
          </div>
          <div class="pay-btn">
            <%= link_to(robot_path(robot.id)) do %>
              <p class="btn btn-ghost">BOOK</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to 'Back', :root %>
</div>


