<h1>hellp test</h1>

<%= simple_form_for(@robot) do |f| %>
  <%= f.input :name %>
  <%= f.input :function %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
<!-- <= @robot.name %>
 --><!-- <= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %> -->
