<div class="holder">
  <div class="robo-background">
  </div>
  <div class="card-holder">
    <div class="container">
      <!-- <div class="d-flex justify-content-between"> -->
        <div class="update">
          <div class="profile-image">
              <% if @user.photos.present? %>
                <div class="profile-avatar">
                  <%= image_tag(cl_image_path(@user.photos.key), :alt => "avatar", class: "profile-avatar-image") %>
                </div>
              <% else %>
                <div class="profile-avatar">
                  <% img_source = "https://robohash.org/#{rand(1..99)}" %>
                  <%= image_tag(img_source, :alt => "robot alter-ego", class: "profile-avatar-image") %>
                </div>

              <% end %>
          </div>



          <h2 class="profile-titles"></h2>
          <div class="profile-name">
            <% if @user.first_name.present?  %>
              <div> <%= @user.first_name %></div>
            <% else %>
              <div>No name added</div>
            <% end %>
            <% if @user.last_name.present?  %>
              <div><%= @user.last_name %></div>
            <% else %>
              <div>No name added</div>
            <% end %>
          </div>
          <p><%= link_to "Edit my profile", edit_user_registration_path %></p>
        </div>

        <div class="col-8">
          <% if @user.appointments.length == 0 %>
            <div class="profile-titles">
              <div class="d-flex justify-content-left">
                <h2>Appointments</h2>
              </div>
              <p>No appointments currently booked - <%= link_to "book one now.", robots_path %></p>
            </div>
          <% else %>

            <ul>
              <h2> Your Appoitments </h2>
              <p><%= link_to "Add another appointment", robots_path %></p>
              <% @user.appointments.each do |app| %>
                <li><%= app.robot.name %> booked for <%= app.sessions_duration %> at <%= app.sessions_datetime.strftime("%A %d %B") %></li>
              <% end %>
            </ul>
          <% end %>

          <% if @user.robots.length == 0 %>
            <div class="profile-titles">
              <div class="d-flex justify-content-between">
                <h3>Robots</h3>
                <p>No robots currently added - <%= link_to "add one now.", new_robot_path %></p>
              </div>
            </div>
          <% else %>
            <div class="profile-titles">
              <!-- <div class="d-flex justify-content-between"> -->
                <h2> Robots </h2>
              </div>
              <%= link_to "Add another robot", new_robot_path %>
            <!-- </div> -->
            <% @user.robots.each do |robot| %>
              <div class="card spacing">
                <div>
                  <%= image_tag "bot", alt: "robot pic" %>
                </div>
                <div class="card-info">
                  <h3><%=robot.name%></h3>
                  <p>Rating: <%=robot.rating %></p>
                </div>
                <div class="card-details">
                <p>Function: <%=robot.function %></p>
                </div>
                <div class="pay-btn">
                <%= link_to(edit_robot_path(robot.id)) do %>
                  <p class="btn btn-ghost">EDIT</a>
                <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
