<div class="holder">
  <div class="robo-background">
</div>
<div class="card-holder profile-holder">
  <div class="update">
    <div class="profile-image">
      <% if @user.photo.attached? %>
        <div class="profile-avatar">
          <%= image_tag(cl_image_path(@user.photo.key), :alt => "avatar", class: "profile-avatar-image") %>
        </div>
      <% else %>
        <div class="profile-avatar-default">
         <i class="fas fa-user-circle"></i>
         <p><%= link_to "Edit my profile", edit_user_registration_path %></p>
        </div>
      <% end %>

    </div>
    <div class="profile-name">
        <% if @user.first_name.present?  %>
          <div> <%= @user.first_name %></div>
        <% else %>
          <h3><em>Roe</em></h3> &emsp;&emsp;&emsp;
        <% end %>
        <% if @user.last_name.present?  %>
          <div><%= @user.last_name %></div>
        <% else %>
          <h3><em>Jogan</em></h3>
        <% end %>
      </div>
  </div>

  <div class="appointment-info">
   <% if @user.appointments.length == 0 %>
      <div class="profile-titles">
          <h2>Appointments</h2>
      </div>
        <a>No appointments currently booked - <%= link_to "book one now.", robots_path %></a>
    <% else %>

    <ol>
      <h2> Your Appoitments </h2>
      <a><%= link_to "Add another appointment", robots_path %></a>
      <% @user.appointments.each do |app| %>

        <li><%= app.robot.name %> booked for <%= app.sessions_duration %> at <%= app.sessions_datetime.strftime("%A %d %B") %></li>
      <% end %>

    </ol>
  <% end %>

    <% if @user.robots.length == 0 %>
      <div class="profile-titles">
        <div class="d-flex justify-content-between">
          <h3>Robots</h3>
          <p>No robots currently added - <%= link_to "add one now.", new_robot_path %></p>
        </div>
      </div>
    <% else %>
  </div>

    <div class="profile-titles">
      <h2> Robots </h2>
    </div>
    <div class="add-robot d-flex justify-content-center">
      <a><%= link_to "Add another robot", new_robot_path %></a>
  </div>
            <!-- </div> -->
    <div class="d-flex justify-content-center">
    <% @user.robots.each do |robot| %>
      <div class="card-index card-profile">
        <div class="card-index">
          <% if robot.photo.attached? %>
            <%= image_tag(cl_image_path(robot.photo.key), :alt => "avatar", class: "profile-avatar-image") %>
          <% else %>
            <%= image_tag "https://papers.co/wallpaper/papers.co-aq01-ai-artificial-intelligence-art-3d-illustration-6-wallpaper.jpg", alt: "robot pic" %>
          <% end %>
        </div>
          <div class="card-info">
            <h3><%=robot.name%></h3>
            <p>Rating: <%=robot.rating %></p>
          </div>
          <div class="card-details">
            <p><%=robot.function %></p>
          </div>
          <div class="pay-btn">
            <%= link_to(edit_robot_path(robot.id)) do %>
              <p class="btn btn-ghost">EDIT</a>
            <% end %>
          </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>


